.header {
  background-color: #3bb77e;
  color: white;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header h1:first-child{
  color: rgb(28, 5, 241);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.header h1 {
  font-size: 2rem; /*1rem = 16px*/
  margin: 0;
}

.header p {
  margin-top: 10px;
  font-size: 1rem;
  opacity: 0.9;
}
